.right{
    margin-top: 90px;
}

.long{
    font-style: italic;
}

.lati{
    font-style: italic;
}

.pressure{
    font-style: italic;
}

.humidity{
    font-style: italic;
}

.level1{
    font-style: italic;
}

.level2{
    font-style: italic;
}

.visi{
    font-style: italic;
}

.speed{
    font-style: italic;
}

.country{
    font-style: italic;
}

.rise{
    font-style: italic;
}

.set{
    font-style: italic;
}